/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.6em;
    font-size: 1em;
}
html{
    scroll-behavior: smooth;
}