<!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<!--<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">-->
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"
href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">

<div class="container mt-3">
  <h2 class="gh-title " style="color: chocolate; text-align: center;">Collections</h2>
</div>
<div class="grey-bg container-fluid">
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-1">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <!--<i class="icon-pencil primary font-large-2 float-left"></i>-->
                  <img class="mr-2" width="80px" height="80px" src="../../assets/images/flipkart.png">
                </div>
                <div class="media-body text-right">
                  <a style="text-decoration:wavy"><h5><b>278 Coupons</b></h5>
                  <span><b>Flipkart</b></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619509040600/fashion-logo.jpg">
                </div>
                <div class="media-body text-right">
                  <a style="text-decoration:wavy"><h5><b>418 Coupons</b></h5>
                    <span><b>Fashion</b></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="../../assets/images/makemytrip_logo.png">
                </div>
                <div class="media-body text-right">
                  <a style="text-decoration:wavy"><h5><b>143 Coupons</b></h5>
                    <span><b>Make My Trip</b></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619508821688/electronics-logo.jpg">
                </div>
                <div class="media-body text-right">
                  <a style="text-decoration:wavy"><h5><b>98 Coupons</b></h5>
                    <span><b>Electronics</b></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>50 Coupons</b></h5>
                    <span><b>Recharge</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619511073594/recharge-logo.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>218 Coupons</b></h5>
                    <span><b>Food</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619509158158/food-logo.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>33 Coupons</b></h5>
                    <span><b>Mobile</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619510797825/mobile-logo.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>60 Coupons</b></h5>
                    <span><b>Footwear</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619509186166/footwear-logo.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>75 Coupons Left</b></h5>
                    <span><b>Furniture</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619509197875/furniture-logo.jpg">
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>106 Coupons Left</b></h5>
                    <span><b>Medicine</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619510589998/medicines-logo.jpg">
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>174 Coupons Left</b></h5>
                    <span><b>Beauty</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619507324784/beauty-logo.jpg">
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <a style="text-decoration:wavy"><h5><b>105 Coupons Left</b></h5>
                    <span><b>Entertainment</b></span></a>
                </div>
                <div class="align-self-center">
                  <img class="mr-2" width="80px" height="80px" src="https://cdn.grabon.in/gograbon/images/category/1619508839485/entertainment-logo.jpg">
                </div>
              </div>
              <div class="progress mt-1 mb-0" style="height: 7px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>