body{
    margin-top:20px;
    background:#f8f8f8
}
.card{
    height:auto;
}

.ghg-all {
    border-radius: 3px;
    box-sizing: border-box;
    padding: 7px 12px;
}
.gh-title::after{
    content: '';
    background-color: #8db654;
    width: 100px;
    display: block;
    height: 4px;
    margin-top: 6px;
    }
    
    .gh-title {
      font-size: 25px;
      position: relative;
      color: #030306;
      font-weight: 500;
      margin-top: 0;
      margin-left: 16px;
      margin-bottom: 24px;
    }
    .card:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   }
   
