<div class="brand-heading text-center">
  <h3>Deals of the Day</h3>
</div>

<div class="container ml-4 mt-1">
  <div class="row">
    <div class="card mb-5 ml-5 mr-8" style="width: 18rem;">
      <img
        src="../../assets/images/oximeter.png"
        class="card-img-top" alt="Oximeter">
      <div class="card-body">
        <h5 class="card-title">Rs.499</h5>
        <p class="card-text" style="inline-size: auto;">Finger Tip Pulse Oximeter with LED Display and Auto Power Off Feature</p>
        <a  class="btn btn-primary btn-lg float-left" (click)="pay()">Buy Now</a>
      </div>
    </div>
    <!--------------------------------Second Card----------------->
    <div class="card mb-5 ml-5 mr-8" style="width: 18rem;">
      <img src="../../assets/images/Gun.png" class="card-img-top" alt="Thermometer">
      <div class="card-body">
        <h5 class="card-title">Rs.1199</h5>
        <p class="card-text" style="inline-size: auto;">Infrared Thermometer LDC IR Display Digital Thermometer Non-Contact IR Laser Point</p>
        <a  class="btn btn-primary btn-lg float-left" (click)="pay()">Buy Now</a>
      </div>
    </div>
    <!-------------------------------------------Third Card--------------->
    <div class="card mb-5 ml-5 mr-5" style="width: 18rem;">
      <img src="../../assets/images/boat.png" class="card-img-top" alt="Boat">
      <div class="card-body">
        <h5 class="card-title">Rs.2499</h5>
        <p class="card-text" style="inline-size: auto;">boat biltz 1500 Multimedia 50 W Bluetooth Home Theatre (Premium Black 2.1 Channel)</p>
        <a class="btn btn-primary btn-lg float-left" (click)="pay()">Buy Now</a>
      </div>
    </div>
  </div>
</div>