<div class="gh-title ml-4 mb-3">
  <h3><b>More Deals</b></h3>
</div>
<div class="container ml-10 mr-5 mt-1">
  <div class="row">
    <div class="card mb-5 ml-5 mr-8" style="width: 18rem;">
      <img
        src="../../assets/images/sanitizer-50ml.png"
        class="card-img-top" alt="Oximeter">
      <div class="card-body">
        <h5 class="card-title">Rs.50</h5>
        <p class="card-text" style="inline-size: auto;">Lifebuoy Total Hand Sanitizer (50ml)</p>
        <a  class="btn btn-primary btn-lg float-left" >Buy Now</a>
      </div>
    </div>
    <!--------------------------------Second Card----------------->
    <div class="card mb-5 ml-5 mr-8" style="width: 18rem;">
      <img src="../../assets/images/maybe.png" class="card-img-top" alt="Thermometer">
      <div class="card-body">
        <h5 class="card-title">Rs.192</h5>
        <p class="card-text" style="inline-size: auto;">MAYBELLINE NEW YORK Colossal Kajal</p>
        <a  class="btn btn-primary btn-lg float-left">Buy Now</a>
      </div>
    </div>
    <!-------------------------------------------Third Card--------------->
    <div class="card mb-5 ml-5 mr-5" style="width: 18rem;">
      <img src="../../assets/images/dryer.png" class="card-img-top" alt="Boat">
      <div class="card-body">
        <h5 class="card-title">Rs.399</h5>
        <p class="card-text" style="inline-size: auto;">Nova Silky Shine Hot And Cold Foldable NHP 8105 Hair Dryer (1200 W, Black)</p>
        <a class="btn btn-primary btn-lg float-left" >Buy Now</a>
      </div>
    </div>
  </div>
</div>
<div class="container ml-10 mr-5 mt-1">
  <div class="row">
    <div class="card mb-5 ml-5 mr-8" style="width: 18rem;">
      <img
        src="../../assets/images/jacket.png"
        class="card-img-top" alt="Oximeter">
      <div class="card-body">
        <h5 class="card-title">Rs.462</h5>
        <p class="card-text" style="inline-size: auto;">AJIO Slim Fit Zip-Front Bomber Jacket</p>
        <a  class="btn btn-primary btn-lg float-left" >Buy Now</a>
      </div>
    </div>
    <!--------------------------------Second Card----------------->
    <div class="card mb-5 ml-5 mr-8" style="width: 18rem;">
      <img src="../../assets/images/mask.png" class="card-img-top" alt="Thermometer">
      <div class="card-body">
        <h5 class="card-title">Rs.292</h5>
        <p class="card-text" style="inline-size: auto;">Fort Collins Unisex Cotton Face Mask (Pack of 8) (125_Olive_One Size)</p>
        <a  class="btn btn-primary btn-lg float-left" >Buy Now</a>
      </div>
    </div>
    <!-------------------------------------------Third Card--------------->
    <div class="card mb-5 ml-5 mr-5" style="width: 18rem;">
      <img src="../../assets/images/Shirt.png" class="card-img-top" alt="Boat">
      <div class="card-body">
        <h5 class="card-title">Rs.775</h5>
        <p class="card-text" style="inline-size: auto;">DENNISLINGO PREMIUM ATTIRE Checked Shirt with Patch Pocket</p>
        <a class="btn btn-primary btn-lg float-left" >Buy Now</a>
      </div>
    </div>
  </div>
</div>