/* Slider*/
.Slide{
  margin-left: -15px;
}

.Let{
  margin-left: -10px;
}

.imagesize {
  height: 346px;
  width: auto;
}
.gh-title::after{
content: '';
background-color: #8db654;
width: 100px;
display: block;
height: 4px;
margin-top: 6px;
}

.gh-title {
  font-size: 25px;
  position: relative;
  color: #030306;
  font-weight: 500;
  margin-top: 0;
  margin-left: 16px;
  margin-bottom: 24px;
}
.flex-container {
  display: flex;
  background-color: #f1f1f1;
}

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

/*------------------------After Card Slider-----------------*/
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card {
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.my-container {
  width: fit-content;
}

/*-----------------------After Vertical Tabs----------------*/
.home-newsletter {
  padding: 80px 0;
  background: #d67e93;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

.nav-link:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
/*----------------------------------After Subscribe---------------------*/

.ng-invalid.ng-touched {
  border-color: red;
}

